@import "tailwindcss";

@import "@fontsource-variable/outfit";

@import "@novahair/ui/theme/defaults";


/* :root {
	--primary: oklch(0.7 0.3 120);
 
  --secondary: oklch(0.7 0.3 120);
	
  --secondary-foreground: oklch(1 0 0);  
} */
@import "@novahair/ui/theme/style";

@source "../../../packages/ui/src/**/*.tsx";

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: "Outfit Variable", sans-serif;
	scroll-timeline-name: --timeline;
}

.side {
	@apply flex items-center gap-2;
}