@import "tailwindcss";

@import "@fontsource-variable/outfit";
@import "@novahair/ui/theme/defaults";
@import "@novahair/ui/theme/style";
 @source "../../../packages/ui/src/**/*.tsx";

@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: "Outfit Variable", sans-serif;
	scroll-timeline-name: --timeline;
}

.side {
	@apply flex items-center gap-2;
}