@import "tailwindcss";
@import "@fontsource-variable/outfit";

@import "@novahair/ui/theme/defaults";

/* Define custom theme variables here */
:root {
	--primary: oklch(0.7 0.3 120);
 
  --secondary: oklch(0.7 0.3 120);
  --secondary-foreground: oklch(1 0 0); /* Blanco para contraste sobre verde */
   --radius: 0.5rem; /* Custom border radius */
  /* Add other customizations as needed */
}

@import '@novahair/booking-app/styles.css';
@import "@novahair/ui/theme/style";

@source "../../../../packages/ui/src/**/*.tsx";
@custom-variant dark (&:where(.dark, .dark *));

body {
	@apply m-0 font-sans antialiased bg-background text-foreground;
	font-family: "Outfit Variable", sans-serif;
	scroll-timeline-name: --timeline;
}

@theme inline {
	--font-sans: "Outfit Variable", sans-serif;
}
