@import "tailwindcss";

@import "@fontsource-variable/outfit";
@import "../../../packages/ui/src/theme/defaults.css";
@import "../../../packages/ui/src/theme/animations.css";
@import "../../../packages/ui/src/theme/base.css";
@source "../../../packages/*/src/**/*.tsx";
 
@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: "Outfit Variable", sans-serif;
	scroll-timeline-name: --timeline;
}
.side {
  @apply flex gap-2 items-center;
}
