@import "tailwindcss";

@import "@fontsource-variable/outfit";
@import "../../../packages/ui/src/theme/defaults.css";

/* :root {
	--radius: 2rem;
	--background: oklch(52.768% 0.21534 29.097);
} */

@import "../../../packages/ui/src/theme/style.css";
@source "../../../packages/*/src/**/*.tsx";
 
@custom-variant dark (&:where(.dark, .dark *));

body {
	font-family: "Outfit Variable", sans-serif;
	scroll-timeline-name: --timeline;
}
.side {
  @apply flex gap-2 items-center;
}
