@import 'tailwindcss';
@import '@fontsource-variable/outfit';
@import '@novahair/ui/theme/base.css';
@import '@novahair/ui/theme/colors.css';
@import '@novahair/ui/theme/animations.css';

@custom-variant dark (&:where(.dark, .dark *));

body {
  @apply m-0 font-sans antialiased bg-background text-foreground;
  font-family: 'Outfit Variable', sans-serif;
  scroll-timeline-name: --timeline;
}

@theme inline {
  --font-sans: 'Outfit Variable', sans-serif;
}


 