@keyframes scaleUp {
	from {
		scale: 0.9;
		border-radius: 300px;
	}
	50% {
		scale: 1;
		border-radius: 30px;
	}
	to {
		scale: 0.9;
		border-radius: 300px;
	}
}

.scroll-scale-in {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear scaleUp both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 0% 100%;
}

/* Voice booking wave animation */
@keyframes wave {
	0%, 100% {
		height: 1rem;
	}
	50% {
		height: 3rem;
	}
}

.animate-wave {
	animation: wave 1s ease-in-out infinite;
}
