
@import "./tokens.css";

@custom-variant dark (&:where(.dark, .dark *));


@theme inline {
  --font-sans: 'Outfit Variable', sans-serif;
 

  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

@layer base {
  * {
    @apply border-muted outline-muted;
  }
  body {
    @apply bg-background text-foreground m-0 font-sans antialiased;
  }
}

/* Utility classes */
.skeleton {
  @apply animate-pulse bg-foreground/10 rounded-md text-transparent w-fit;
}

.skeleton-inverted {
  @apply animate-pulse bg-background/10 rounded-md text-transparent w-fit;
}

.card {
  @apply bg-foreground/5 text-foreground/90 rounded-lg border border-foreground/10 p-4 shadow-sm flex flex-1 flex-col gap-2;

  &.clickable {
    @apply hover:bg-foreground/10 active:bg-foreground/20 transition-colors cursor-pointer;
  }
}


::view-transition-old(root), 
::view-transition-new(root) {
  animation: view-transition-fade-in 300ms ease-in-out;
  mix-blend-mode: normal;
}
