@theme {
	--color-primary-50: oklch(0.97 0.03 193.5); /* #E6FEFF */
	--color-primary-100: oklch(0.89 0.14 193.7); /* #8FF2F8 */
	--color-primary-200: oklch(0.82 0.21 193.3); /* #5DD8DF */
	--color-primary-300: oklch(0.75 0.22 193.1); /* #3ABCC3 */
	--color-primary-400: oklch(0.69 0.23 192.9); /* #00A1A7 */
	--color-primary-500: oklch(0.61 0.22 192.7); /* #00848A */
	--color-primary-600: oklch(0.52 0.18 192.4); /* #00696E */
	--color-primary-700: oklch(0.45 0.15 192.2); /* #005C60 */
	--color-primary-800: oklch(0.36 0.12 192); /* #004346 */
	--color-primary-900: oklch(0.26 0.08 191.8); /* #002B2D */
	--color-primary-950: oklch(0.14 0.05 191.6);

	--color-secondary-25: oklch(0.98 0 0);
	--color-secondary-50: oklch(98.51% 0 0); /* #fafafa */
	--color-secondary-100: oklch(97.02% 0 0); /* #f5f5f5 */
	--color-secondary-200: oklch(92.19% 0 0); /* #e5e5e5 */
	--color-secondary-300: oklch(86.99% 0 0); /* #d4d4d4 */
	--color-secondary-400: oklch(71.55% 0 0); /* #a3a3a3 */
	--color-secondary-500: oklch(55.55% 0 0); /* #737373 */
	--color-secondary-600: oklch(43.86% 0 0); /* #525252 */
	--color-secondary-700: oklch(37.15% 0 0); /* #404040 */
	--color-secondary-800: oklch(26.86% 0 0); /* #262626 */
	--color-secondary-900: oklch(20.46% 0 0); /* #171717 */
	--color-secondary-950: oklch(14.48% 0 0); /* #0a0a0a */
}
@theme inline {
	--color-dark: var(--color-secondary-950);
	--color-light: var(--color-secondary-25);
}

:root {
	--background: var(--color-light);
	--foreground: var(--color-dark);
}

.dark {
	--background: var(--color-dark);
	--foreground: var(--color-light);
}

@theme inline {
	--color-primary: var(--color-primary-500);
	--color-secondary: var(--color-secondary-500);
	--color-info: var(--color-info-500);
	--color-success: var(--color-success-500);
	--color-warning: var(--color-warning-500);
	--color-error: var(--color-error-500);

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--muted: var(--color-secondary-500);

	--color-info: var(--color-blue-500);

	--color-success: var(--color-green-500);

	--color-warning: var(--color-yellow-500);

	--color-error: var(--color-red-500);
}
