@import "tailwindcss";

@import "@fontsource-variable/outfit";
@import "@novahair/ui/theme/defaults";
@import "@novahair/ui/theme/style";
@source "../../../packages/ui/src/**/*.tsx";


body {
	font-family: "Outfit Variable", sans-serif;
	scroll-timeline-name: --timeline;
}
.side {
  @apply flex gap-2 items-center;
}
