.ripple {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	display: block;
	margin: auto;
	pointer-events: none;
	overflow: hidden;
	border-radius: inherit;
}

.ripple[aria-disabled="true"] {
	display: none;
}

@media (forced-colors: active) {
	.ripple {
		display: none;
	}
}

.ripple .ripple-surface {
	inset: 0;
	pointer-events: none;
	/*overflow: hidden;*/
	border-radius: inherit;
}

.ripple .ripple-surface::before,
.ripple .ripple-surface::after {
	content: "";
	opacity: 0;
	position: absolute;
}

.ripple .ripple-surface::before {
	width: 100%;
	height: 100%;
	background-color: var(--ripple-color, currentColor);
	inset: 0;
	transition: opacity var(--ripple-duration, 150ms), background-color
		var(--ripple-duration, 150ms);
}

.ripple .ripple-surface::after {
	inset: 0;
	background: radial-gradient(
		closest-side,
		var(--ripple-color, currentColor) max(100% - 70px, 65%),
		transparent 100%
	);
	transform-origin: center center;
	transition: opacity 375ms;
}

.ripple .ripple-surface.--hover::before {
	background-color: var(--ripple-color, currentColor);
	opacity: var(--ripple-hover-opacity, 0);
}

.ripple .ripple-surface.--press::after {
	opacity: var(--ripple-pressed-opacity, 0.12);
	transition-duration: 75ms;
}
