@import "swiper/css";
@import "swiper/css/effect-cards";
@import "swiper/css/effect-coverflow";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

.swiper-button-prev {
	z-index: 99;
}
